name: CI
on:
  push:
    branch:
      - '*'
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - run: pip install -r requirements.txt -r requirements-dev.txt
      - run: python -m pytest -s -v -c tests/pytest.ini --cov-fail-under=<?pytest-min-coverage>

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - run: pip install black
      - run: black --check .

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - run: pip install flake8
      - run: flake8 --extend-ignore F401,E501 .